.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #2F3545;
  --border-width: 1px;
  --borderActive: #E9B29A;
  --background: #151924;
  --arrow: #6C7486;
  --arrowActive: #E4ECFA;
  --listText: #99A3BA;
  --listBackground: #F5F9FF;
  --listActive: #E4ECFA;
  --listTextActive: #6C7486;
  --listBorder: none;
  --textFilled: #99A3BA;

  &.light {
    --text: #A32B29;
    --border: #CDD9ED;
    --borderActive: #E9B29A;
    --background: #fff;
    --arrow: #A32B29;
    --arrowActive: #A32B29;
    --listText: #221F20;
    --listBackground: #fff;
    --listActive: #FFE6DB;
    --listTextActive: #A32B29;
    --listBorder: #E4ECFA;
    --textFilled: #A32B29;
  }

  &.no-border {
    --border: transparent;
    --borderActive: transparent;
    --border-width: 0;
  }

  &.bg-transparent {
    --background: transparent;
  }

  width: auto;
  position: relative;
  bottom: 0rem;

  select {
    display: none;
  }

  & > span {
    cursor: pointer;
    padding: 0.81rem 1.81rem;
    border-radius: 0.625rem;
    position: relative;
    color: var(--text);
    border: var(--border-width) solid var(--border);
    background: var(--background);
    line-height: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: all .3s ease;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 2px;
      border-radius: 1px;
      top: 50%;
      right: 15px;
      background: var(--arrow);
      transition: all .3s ease;
    }

    &:before {
      margin-right: 4px;
      transform: scale(.96, .8) rotate(50deg);
    }

    &:after {
      transform: scale(.96, .8) rotate(-50deg);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    //opacity: 0;
    //visibility: hidden;
    position: absolute;
    max-height: calc(var(--max-scroll) * 42px);
    //top: 42px;
    left: 0;
    z-index: 2;
    right: 0;
    background: var(--listBackground);
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: 0 0;
    transition: opacity .2s ease, visibility .2s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
    transform: scale(.8) translate(0, 4px);
    border: 1px solid var(--listBorder);

    li {
      //opacity: 0;
      transform: translate(6px, 0);
      transition: all .3s ease;

      span {
        cursor: pointer;
        display: block;
        padding: 10px 16px;
        color: var(--listText);
        text-decoration: none;
        outline: none;
        position: relative;
        transition: all .3s ease;
        line-height: 22.4px;

        &:hover {
          color: var(--listTextActive);
          background-color: var(--listActive);
        }
      }

      &.active {
        span {
          color: var(--listTextActive);
          background: var(--listActive);

          &:before,
          &:after {
            --scale: .6;
            content: '';
            display: block;
            width: 10px;
            height: 2px;
            position: absolute;
            right: 17px;
            top: 50%;
            opacity: 0;
            background: var(--listText);
            transition: all .2s ease;
          }

          &:before {
            transform: rotate(45deg) scale(var(--scale));
          }

          &:after {
            transform: rotate(-45deg) scale(var(--scale));
          }

          &:hover {
            &:before,
            &:after {
              --scale: .9;
              opacity: 1;
            }
          }
        }
      }

      &:first-child {
        span {
          border-radius: 6px 6px 0 0;
        }
      }

      &:last-child {
        span {
          border-radius: 0 0 6px 6px;
        }
      }
    }
  }

  &.filled {
    & > span {
      color: var(--textFilled);
    }
  }

  &.open {
    & > span {
      border-color: var(--borderActive);

      &:before,
      &:after {
        background: var(--arrowActive);
      }

      &:before {
        transform: scale(.96, .8) rotate(-50deg);
      }

      &:after {
        transform: scale(.96, .8) rotate(50deg);
      }
    }

    ul {
      opacity: 1;
      visibility: visible;
      transform: scale(1) translate(0, 12px);
      transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);

      li {
        opacity: 1;
        transform: translate(0, 0);
        $i: 1;
        @while $i <= 10 {
          $delay: $i * 80;
          &:nth-child(#{$i}) {
            transition-delay: #{$delay}ms;
          }
          $i: $i + 1;
        }
      }
    }
  }
}

select {
  --text: #3F4656;
  --border: #2F3545;
  --background: #151924;

  &.dropdown {
    padding: 9px 16px;
    border-radius: 6px;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    line-height: 22px;
    font-size: 16px;
    font-family: inherit;
    -webkit-appearance: none;
  }
}
